<div id="skrollr-body">
            
            <div class='col-xs-12' id='dnb_primary' data-0="top:0px;" data-40="top:-140px;">
                <nav>
                    <ul>
                        <li class='col-xs-5 col-md-3 pull-left'>
                            <span class='col-xs-12' id='dnb_logo'>
                                <p><b>Students&nbsp;</b>Portal</p>
                            </span>
                        </li>
                        

                        
                        <li class='col-xs-5 col-md-6'>
                            <div class="input-group col-xs-12">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Go</button>
                                </span>
                                
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                        </li>

                    </ul>
                </nav>
            </div>
            
           <div id = 'dnb_sec' class='dnb_secondary col-xs-12' data-0="margin-top:0px; position:relative; background-color:rgba(52, 152, 219,1);" data-50=" margin-top:0px; position:fixed; background-color:rgba(255, 255, 255,0.99);">
                <nav>
                    <span class='col-xs-2'><div class='btn2 col-xs-12 pull-left' id='dnb_secondary_logo' data-0="color:rgb(255,255,255)" data-50="color:rgb(0,0,0)">
                        Notification<b>&nbsp;Portal</b>&nbsp;</div>
                    </span>
                    
                    <span class='col-xs-2 dropdown'><div class='btn2 col-xs-12 pull-left' data-0="color:rgb(255,255,255)" data-50="color:rgb(0,0,0)" data-toggle="dropdown">
                    <a  data-toggle="modal" data-target=".bs-example-modal-lg">
                          Categories
                        </a>
                        
                    </div>
 <% if signed_in? %>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a href="#">Option 1</a></li>
                            <li><a href="#">Option 2</a></li>
                            <li><a href="#">Option 3</a></li>
                            <li><a href="#">Option 4</a></li>
                            <li><a href="#">Option 5</a></li>
                            <li><a href="#">Option 6</a></li>
                        </ul></span>
=======
                     <!-- <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <% for  tag in Tag.all %>
                           <li> <a><%= tag.name %></a></li>
                            <% end%>
                            
                        </ul>--></span>
                    
                    <div class="hidden-sm hidden-xs col-md-2 dropdown pull-right">
                        <a class="pull-right dropdown-toggle col-xs-12" data-toggle="dropdown" href="#">
                            <span class="col-xs-12 btn2 glyphicon glyphicon-user pull-right" data-0="color:rgb(255,255,255)" data-50="color:rgb(0,0,0)" aria-hidden="true">
                                 <%= current_user.fullname%>
                                <span class="caret"></span>
                            </span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><%= link_to "Sign Out", signout_path, method: 'delete' %></li>
                        </ul>
                    </div>
		   
        	    <% if current_user.usertype %>
                    <ul class='col-xs-6'>
                        <li class='hidden-xs hidden-sm hidden-md col-lg-2'>
                            <div class='btn2'>
                                <%= link_to "Add Update", new_post_path,{:data=>{:'0'=>"color:rgb(255,255,255)", :'50'=>"color:rgb(0,0,0)" }}%>
                            </div>
                        </li>
	<%end%>
                        <li class='hidden-xs hidden-sm hidden-md col-lg-2'>
                            <div class='btn2'>
                               <%= link_to "My Updates", mynotifs_path,{:data=>{:'0'=>"color:rgb(255,255,255)", :'50'=>"color:rgb(0,0,0)" }} %>
                            </div>
                        </li>
                    </ul>
	<%end%>
                </nav>
            </div>
        </div>


<div class="modal  bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
              
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    
    </div>
  </div>
</div>
